/* Hay-sales.css
For style on Hay-Sales.html Page */
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
body{
	font-family: 'Nixie One', cursive;
    background-repeat:no-repeat;
    background-position:top left;
	color:black;
	text-shadow: 1px 1px 0px #fffdfd, 1px 1px 0px rgba(0, 0, 0, 0.979);
    font-size:14pt;
	background-color:rgb(229, 233, 27);
}
form{
	display:flex;
	flex-wrap:wrap;
	width:60%;
}
h1{
	font-family: 'Nixie One', cursive;
	margin-top:10px;
	margin-bottom:10px;
	font-size:2em;
	text-align:center;
	color:rgb(52, 156, 4);
	font-weight:900;
	text-shadow:1px 1px rgb(0, 0, 0);
}

@keyframes mymove {
    from {left: 0%;}
    to {left: 20%;}
}
p {
    font-weight:900;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
from {
    margin-left:200%;
    width: 300%;
    }

to {
    margin-left: 0%;
    width: 100%;
    }
}
legend{
	font-size:1.5em;
	font-weight:900;
	margin-top:20px;
	margin-left:10px;
	color:black;
	border-top:3px solid rgb(233, 250, 0);
	border-bottom:3px solid rgb(49, 238, 49);
	box-shadow:2px 2px black;
	background-color:rgb(194, 230, 177);
}
label{
	text-align:right;
	width:150px;
	float:left;
	padding-right:10px;
	color:black;
	font-weight:900;
	vertical-align:text-top;
}
p{
	font-weight:900;
}
fieldset {
	padding:1%;
	flex:1;
	min-width:400px;
	background-color:white;
	opacity:.9;
	margin:10px;
	border:4px groove darkgreen;
	overflow:auto;
}	
.inputButton{
	font-size:14pt;
	width:100px; 
	height:30px;
	font-size:12pt;
	background-color: green;
	color:white;
	font-family: 'Nixie One', cursive;
	font-weight:900;
	margin-top:50px;
	box-shadow:2px 2px 2px black;
	text-align:center;
}
input{
	text-align:left;
	width:200px;
	font-size:14pt;
	color:black;
}
.shortinputButton{
	width:20px; 
	text-align:left;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
nav {
	margin:50px auto; 
	text-align: center;
}

nav ul {
    background: linear-gradient(0deg, rgb(232, 253, 46),rgb(179, 209, 68), rgb(51, 170, 57)); 
	box-shadow: 6px 6px 6px rgba(211, 230, 40, 0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	color:black;
	font-weight:900;
	width:100%;
	display:inline-table;
}
nav ul li {
	display:inline-table;
}
nav ul li a {
	display: block; 
	padding: 25px 40px;
	color: rgb(102, 109, 5); 
	text-decoration: none;
}
nav ul li:hover {
    background: linear-gradient(180deg, white, #2f6aa5, rgb(124, 124, 124)); 
}
nav ul li:hover a {
	color:rgb(54, 194, 77);
}
nav ul li:hover > ul {
	display:flex;
	flex-direction:column;
	width:30%;
}

nav ul ul {
	display: none;
    background: linear-gradient(180deg, Black, rgb(133, 133, 133)); 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	z-index:10;
}
nav ul ul li {
	display:block; 
	border-top: 1px solid indigo;
	border-bottom: 1px solid #757575; 
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #757575;
}	
nav ul ul li a:hover {
	background: rgb(133, 145, 129);
	color:rgb(211, 205, 193);
}
